@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";

:root {
    --greyborder: rgba(226, 232, 240, 1);
    --greybackground: rgba(248, 250, 252, 1);
    --primary-500: rgba(59, 130, 246, 1);
    --grey-900: rgba(15, 23, 42, 1);
    --white: rgba(255, 255, 255, 1);
    --primary-600: rgba(37, 99, 235, 1);
    --grey-100: rgba(241, 245, 249, 1);
    --grey-700: rgba(51, 65, 85, 1);
    --greytext-dark: rgba(2, 6, 23, 1);
    --small-text-font-family: "Inter", Helvetica;
    --small-text-font-weight: 400;
    --small-text-font-size: 14px;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: 150%;
    --small-text-font-style: normal;
    --heading-3-font-family: "Inter", Helvetica;
    --heading-3-font-weight: 400;
    --heading-3-font-size: 24px;
    --heading-3-letter-spacing: 0px;
    --heading-3-line-height: 140%;
    --heading-3-font-style: normal;
    --button-text-font-family: "Inter", Helvetica;
    --button-text-font-weight: 500;
    --button-text-font-size: 14px;
    --button-text-letter-spacing: 0px;
    --button-text-line-height: 160%;
    --button-text-font-style: normal;
    --label-font-family: "Inter", Helvetica;
    --label-font-weight: 400;
    --label-font-size: 12px;
    --label-letter-spacing: 0px;
    --label-line-height: normal;
    --label-font-style: normal;
    --heading-5-subheading-font-family: "Inter", Helvetica;
    --heading-5-subheading-font-weight: 400;
    --heading-5-subheading-font-size: 18px;
    --heading-5-subheading-letter-spacing: 0px;
    --heading-5-subheading-line-height: 160%;
    --heading-5-subheading-font-style: normal;
    --shadow: 0px 0px 8px 0px rgba(59, 130, 246, 0.12);
}

/* ---------------------------course page style---------------------------- */
.seller-courses {
    width: 1356px;
    height: 47rem;
    background-color: var(--greybackground);
}

.seller-courses .side-menu {
    position: absolute;
    width: 240px;
    height: 47rem;
    top: 0;
    left: 0;
    background-color: var(--grey-900);
    box-shadow: 2px 0px 4px #00000040;
}

.seller-courses .frame {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.seller-courses .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.seller-courses .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.seller-courses .div {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
}

.seller-courses .logo-2 {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(https://c.animaapp.com/meilzjuc7hm2I8/img/logo-3.png) 50%
        50% / cover;
}

.seller-courses .text-wrapper {
    color: var(--greyborder);
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.seller-courses .img {
    position: relative;
    width: 24px;
    height: 24px;
}

.seller-courses .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.seller-courses .frame-2 .menu-2 {
    position: relative;
}

.seller-courses .menu {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.seller-courses .img-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 18px;
    position: relative;
    flex: 0 0 auto;
}

.seller-courses .lable {
    color: var(--greybackground);
    font-size: var(--small-text-font-size);
    line-height: var(--small-text-line-height);
    position: relative;
    width: fit-content;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.seller-courses .menu-2 {
    display: flex;
    align-self: stretch;
    width: 100%;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.seller-courses .lable-2 {
    color: var(--primary-500);
    font-size: var(--small-text-font-size);
    line-height: var(--small-text-line-height);
    position: relative;
    width: fit-content;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    letter-spacing: var(--small-text-letter-spacing);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.seller-courses .rectangle {
    position: absolute;
    width: 2px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: var(--primary-500);
}

.seller-courses .div-wrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.seller-courses .logo-3 {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: url(https://c.animaapp.com/meilzjuc7hm2I8/img/logo-4.png) 50%
        50% / cover;
}

.seller-courses .byway {
    color: var(--greybackground);
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

/* drop down categories */

.categories-dropdown {
    position: absolute;
    top: 50px;
    right: 1px;
    background: #ffffff;
    padding: 8px 0;
    color: #333;
    width: 240px;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: "Inter", sans-serif;
}

.categories-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categories-dropdown li {
    padding: 10px 15px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.categories-dropdown li a {
    text-decoration: none;
}

.categories-dropdown li:hover {
    background: #f3f4f6;
    color: #2563eb;
}
